body {
    background-image: url('../img/win98ru_base.png');
    background-repeat: no-repeat;
}
div.window {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 693px;
    height: 515px;
    background: linear-gradient(90deg, rgba(215,229,255,1) 0%, rgba(30,87,255,1) 100%);
}
div.menu {
    display: table;
    width: 100%;
    height: 20px;
    background-color: #c0c0c0;
}
div.menu span {
    display: table-cell;
    width: 42px;
    vertical-align:middle;
}
div.status_bar {
    position: absolute;
    top: 54px;
    width: 465px;
    height: 17px;
    background-color: #c0c0c0;
    /*border-style: inset;*/
    /*border-width: 1px;*/
    margin-left: 15px;
    border: none;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}
div.status_bar span {
    margin-left: 100px;
    font-weight: bold;
}
div.status_box {
    background-color: #c0c0c0;
    margin-left: 15px;
}
div.status_box legend {
    color: #0000c0;
}
div.status_box fieldset label:nth-of-type(1) {
    font-weight: bold;
}
div.status_box fieldset label:nth-of-type(2) {
    /*color: red;*/
}
div.status_box fieldset div {
    /*margin-top: -5px;*/
}
div.personal_status {
    position: absolute;
    top: 77px;
    width: 224px;
}
div.computer_status {
    position: absolute;
    top: 243px;
    width: 224px;
}
div.housing_status {
    position: absolute;
    top: 77px;
    left: 244px;
    width: 224px;
}
div.software_status {
    position: absolute;
    top: 220px;
    left: 244px;
    width: 224px;
}
div.internet_status {
    position: absolute;
    top: 326px;
    left: 244px;
    width: 224px;
}
div.job_status {
    position: absolute;
    top: 375px;
    left: 244px;
    width: 224px;
}
div.education_status {
    position: absolute;
    top: 425px;
    left: 244px;
    width: 224px;
}

#housing_panel {
    position: absolute;
    top: 77px;
    width: 100%;
}

#housing_panel

div.buttons_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.buttons_box div button {
    display: block;
}
div#buttons_panel {
    position: absolute;
    top: 47px;
    right: 20px;
}
div#buttons_panel div button {
    width: 172px;
    height: 26px;
}


#home_button {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
#footer {
    background: url(../img/win98ru_footer.png) no-repeat;
    width: 1152px;
    height: 28px;
    bottom: 0px;
    left: 0px;
    position: fixed;
}
