<div id="bank_panel" class="switchable panel">
    <label for="bank_put_money_input">Положить</label>
    <input type="number" id="bank_put_money_input" min="1"/>
    <button id="bank_put_money_button">OK</button>
    <br/>
    <label for="bank_get_money_input">Снять со счёта</label>
    <input type="number" id="bank_get_money_input" min="1"/>
    <button id="bank_get_money_button">OK</button>
    <br/>
    <label>У вас на счету: </label>
    <label id="bank_money_label">?</label>
    <br/>
    <label>Прирост: </label>
    <label id="bank_profit_label">?</label>
</div>
