<div id="buttons_panel" class="buttons_box">
    <div>
        <button id="housing_button">Квартира</button>
        <button id="shop_button">Магазин</button>
        <button id="entertainment_button">Развлечения</button>
        <button id="hobby_button">Хобби</button>
        <button id="education_button">Обучение</button>
        <button id="job_button">Работа</button>
        <button id="bank_button">Банк</button>
        <button id="hardware_button">Компьютер</button>
        <button id="software_button">Программы</button>
        <button id="internet_button">Выход в интернет</button>
        <button id="hack_button">Хакерство</button>
    </div>
</div>