<div id="buttons_panel" class="buttons_box">
    <div>
        <button id="housing_button" name="#housing_panel">Квартира</button>
        <button id="shop_button" name="#shop_panel">Магазин</button>
        <button id="entertainment_button" name="#entertainment_panel">Развлечения</button>
        <button id="hobby_button" name="#hobby_panel">Хобби</button>
        <button id="education_button" name="#education_panel">Обучение</button>
        <button id="job_button" name="#job_panel">Работа</button>
        <button id="bank_button" name="#bank_panel">Банк</button>
        <button id="hardware_button" name="#hardware_panel">Компьютер</button>
        <button id="software_button" name="#software_panel">Программы</button>
        <button id="internet_button" name="#internet_panel">Выход в интернет</button>
        <button id="hack_button" name="#hacking_panel">Хакерство</button>
    </div>
</div>