<div id="buttons_panel" class="buttons_box">
    <div>
        <button id="housing_button" name="#housing_panel" data-i18n="dom.buttons.housing"></button>
        <button id="shop_button" name="#shop_panel" data-i18n="dom.buttons.shop"></button>
        <button id="entertainment_button" name="#entertainment_panel" data-i18n="dom.buttons.entertainment"></button>
        <button id="hobby_button" name="#hobby_panel" data-i18n="dom.buttons.hobby"></button>
        <button id="education_button" name="#education_panel" data-i18n="dom.buttons.education"></button>
        <button id="job_button" name="#job_panel" data-i18n="dom.buttons.job"></button>
        <button id="bank_button" name="#bank_panel" data-i18n="dom.buttons.bank"></button>
        <button id="hardware_button" name="#hardware_panel" data-i18n="dom.buttons.hardware"></button>
        <button id="software_button" name="#software_panel" data-i18n="dom.buttons.software"></button>
        <button id="internet_button" name="#internet_panel" data-i18n="dom.buttons.internet"></button>
        <button id="hack_button" name="#hacking_panel" data-i18n="dom.buttons.hacking"></button>
    </div>
</div>
