<div id="education_panel" class="switchable panel">
    <div class="education_layout">
        <div class="education_left_col">
            <div class="education_section education_courses">
                <fieldset>
                    <legend data-i18n="dom.education.legend"></legend>
                    <button id="go_to_school_button" name="school" data-i18n="dom.education.school_button"></button>
                    <button id="go_to_english_course_button" name="english_course" data-i18n="dom.education.english_button"></button>
                    <button id="go_to_computer_course_button" name="computer_course" data-i18n="dom.education.computer_button"></button>
                </fieldset>
            </div>
        </div>
        <div class="education_right_col">
            <div class="education_desc_box">
                <label id="education_desc_label" data-i18n="dom.education.default_description"></label>
            </div>
        </div>
    </div>
    <div class="education_info_section">
        <fieldset>
            <legend data-i18n="dom.education.info_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.education.price"></label>
                <label id="education_panel_price_label">-</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.education.brief"></label>
                <label id="education_panel_brief_label">-</label>
            </div>
        </fieldset>
    </div>
</div>
