<div id="education_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="go_to_school_button" name="school">Пойти в вечернюю школу</button>
            <button id="go_to_english_course_button" name="english_course">Записаться на курсы английского языка</button>
            <button id="go_to_computer_course_button" name="computer_course">Записаться на компьютерные курсы</button>
        </div>
    </div>
    <div class="info_box">
        Обучение
    </div>
    <div class="price_box">
        <label>Цена в день: </label>
        <label id="education_panel_price_label" class="price">-</label>
    </div>
</div>
