<div id="entertainment_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="go_party_button" name="party">Сходить на вечеринку</button>
            <button id="go_disco_button" name="disco">Сходить на дискотеку</button>
            <button id="go_roulette_button" name="roulette">Рулетка</button>
            <button id="go_slot_machine_button" name="slot_machine">Однорукий бандит</button>
            <button id="go_arcanoid_button" name="arcanoid">Игровой автомат "Арканоид"</button>
        </div>
    </div>
    <div class="info_box">
        Развлечения
    </div>
    <div id="roulette_popup" style="display: none;">
        <div class="roulette_container">
            <div class="info_box">Рулетка</div>
            <div class="roulette_display" id="roulette_display">00</div>
            <div class="roulette_inputs">
                <div class="roulette_field">
                    <label>ваше число</label>
                    <input type="number" id="roulette_number_input" min="0" max="13" value="0">
                </div>
                <div class="roulette_field">
                    <label>ставка</label>
                    <input type="number" id="roulette_bet_input" min="1" value="1">
                </div>
            </div>
            <button id="roulette_start_button">СТАРТ</button>
            <div class="roulette_result_area">
                <div class="roulette_result_boxes">
                    <div class="roulette_result_box" id="roulette_your_number_box">-</div>
                    <div class="roulette_result_box" id="roulette_casino_number_box">-</div>
                </div>
                <div class="roulette_winnings">
                    <label>ваш выигрыш составил: </label>
                    <label id="roulette_winnings_label">0</label>
                </div>
            </div>
            <button id="roulette_home_button">Выход</button>
        </div>
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="entertainment_panel_price_label" class="price">-</label>
    </div>
    <div class="price_box">
        <label>Поднять настроение на: </label>
        <label id="entertainment_panel_mood_change_label" class="price">-</label>
    </div>
    <div class="price_box">
        <label>Настроение: </label>
        <label id="entertainment_panel_mood_value_label" class="price">-</label>
    </div>
</div>
