<div id="entertainment_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="go_party_button" name="party">Сходить на вечеринку</button>
            <button id="go_disco_button" name="disco">Сходить на дискотеку</button>
            <button id="go_roulette_button" name="roulette">Рулетка</button>
            <button id="go_slot_machine_button" name="slot_machine">Однорукий бандит</button>
            <button id="go_arcanoid_button" name="arcanoid">Игровой автомат "Арканоид"</button>
        </div>
    </div>
    <div class="info_box">
        Развлечения
    </div>
    <div id="roulette_popup" style="display: none;">
        <div class="roulette_container">
            <div class="info_box">Рулетка</div>
            <div class="roulette_display" id="roulette_display">00</div>
            <div class="roulette_inputs">
                <div class="roulette_field">
                    <label>ваше число</label>
                    <input type="number" id="roulette_number_input" min="0" max="13" value="0">
                </div>
                <div class="roulette_field">
                    <label>ставка</label>
                    <input type="number" id="roulette_bet_input" min="1" value="1">
                </div>
            </div>
            <button id="roulette_start_button">СТАРТ</button>
            <div class="roulette_result_area">
                <div class="roulette_result_boxes">
                    <div class="roulette_result_box" id="roulette_your_number_box">-</div>
                    <div class="roulette_result_box" id="roulette_casino_number_box">-</div>
                </div>
                <div class="roulette_winnings">
                    <label>ваш выигрыш составил: </label>
                    <label id="roulette_winnings_label">0</label>
                </div>
            </div>
            <button id="roulette_home_button">Выход</button>
        </div>
    </div>
    <div id="slot_machine_popup" style="display: none;">
        <div class="slot_container">
            <div class="info_box">Рулетка 2</div>
            <div class="slot_reels">
                <div class="slot_reel" id="slot_reel_1">?</div>
                <div class="slot_reel" id="slot_reel_2">?</div>
                <div class="slot_reel" id="slot_reel_3">?</div>
            </div>
            <button id="slot_spin_button" disabled>Вращать</button>
            <div class="slot_body">
                <div class="slot_paytable">
                    <table>
                        <tr><th colspan="2">Выигрыш($):</th></tr>
                        <tr><td>🍎🍎🍇</td><td>1</td></tr>
                        <tr><td>🍔🍔🍇</td><td>2</td></tr>
                        <tr><td>🍇🍇🍎</td><td>3</td></tr>
                        <tr><td>🍔🍔🍎</td><td>4</td></tr>
                        <tr><td>🍇🍇🍔</td><td>5</td></tr>
                        <tr><td>🍎🍎🍔</td><td>6</td></tr>
                        <tr><td>🍇🍇🍇</td><td>10</td></tr>
                        <tr><td>🍎🍎🍎</td><td>15</td></tr>
                        <tr><td>🍔🍔🍔</td><td>20</td></tr>
                    </table>
                </div>
                <div class="slot_sidebar">
                    <button id="slot_buy_button">Купить 5 вращений за 10$</button>
                    <div class="slot_info_box">
                        <label>Осталось </label>
                        <label id="slot_spins_left">0</label>
                        <label> вращений</label>
                    </div>
                    <div class="slot_info_box">
                        <label>У вас денег($): </label>
                        <label id="slot_money_label">0</label>
                    </div>
                </div>
            </div>
            <button id="slot_home_button">&lt;&lt; Назад</button>
        </div>
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="entertainment_panel_price_label" class="price">-</label>
    </div>
    <div class="price_box">
        <label>Поднять настроение на: </label>
        <label id="entertainment_panel_mood_change_label" class="price">-</label>
    </div>
    <div class="price_box">
        <label>Настроение: </label>
        <label id="entertainment_panel_mood_value_label" class="price">-</label>
    </div>
</div>
