<div id="hacking_panel" class="switchable panel">
    <div class="hacking_layout">
        <div class="hacking_header">
            <h3>ХАКЕРСТВО</h3>
        </div>
        <div class="hacking_controls">
            <button id="hacking_get_task_button">Получить задание</button>
            <button id="hacking_execute_button" style="display: none;">Выполнить</button>
        </div>
        <div class="hacking_task_box">
            <label id="hacking_task_label">Задния нет ...</label>
        </div>
        <div id="hacking_progress_container" style="display: none;">
            <div id="hacking_progress_bar"></div>
        </div>
    </div>
</div>
