<div id="hardware_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="buy_CPU_button" name="CPU">Купить процессор</button>
            <button id="buy_monitor_button" name="monitor">Купить монитор</button>
            <button id="buy_printer_button" name="printer">Купить принтер</button>
            <button id="buy_scanner_button" name="scanner">Купить сканер</button>
            <button id="buy_modem_button" name="modem">Купить модем</button>
            <button id="buy_HDD_button" name="HDD">Купить винчестер</button>
            <button id="buy_CDROM_button" name="CDROM">Купить CD-ROM</button>
            <button id="buy_RAM_button" name="RAM">Купить память RAM</button>
            <button id="buy_sound_card_button" name="sound_card">Купить звуковую карту</button>
            <button id="buy_video_card_button" name="video_card">Купить видеокарту</button>
            <button id="buy_all_button">Купить ВСЁ</button>
        </div>
    </div>
    <div class="info_box">
        Компьютер
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="hardware_panel_price_label" class="price">-</label>
    </div>
</div>
