<div id="hardware_panel" class="switchable panel">
    <div class="hardware_layout">
        <div class="hardware_left_col">
            <div class="hardware_section hardware_buttons">
                <fieldset>
                    <legend data-i18n="dom.hardware.legend"></legend>
                    <div class="hardware_buttons_list">
                        <button id="buy_CPU_button" name="CPU"><span class="hw_btn_title" data-i18n="dom.hardware.buy_cpu"></span><span class="hw_btn_desc" id="hw_desc_CPU"></span></button>
                        <button id="buy_monitor_button" name="monitor"><span class="hw_btn_title" data-i18n="dom.hardware.buy_monitor"></span><span class="hw_btn_desc" id="hw_desc_monitor"></span></button>
                        <button id="buy_printer_button" name="printer"><span class="hw_btn_title" data-i18n="dom.hardware.buy_printer"></span><span class="hw_btn_desc" id="hw_desc_printer"></span></button>
                        <button id="buy_scanner_button" name="scanner"><span class="hw_btn_title" data-i18n="dom.hardware.buy_scanner"></span><span class="hw_btn_desc" id="hw_desc_scanner"></span></button>
                        <button id="buy_modem_button" name="modem"><span class="hw_btn_title" data-i18n="dom.hardware.buy_modem"></span><span class="hw_btn_desc" id="hw_desc_modem"></span></button>
                        <button id="buy_HDD_button" name="HDD"><span class="hw_btn_title" data-i18n="dom.hardware.buy_hdd"></span><span class="hw_btn_desc" id="hw_desc_HDD"></span></button>
                        <button id="buy_CDROM_button" name="CDROM"><span class="hw_btn_title" data-i18n="dom.hardware.buy_cdrom"></span><span class="hw_btn_desc" id="hw_desc_CDROM"></span></button>
                        <button id="buy_RAM_button" name="RAM"><span class="hw_btn_title" data-i18n="dom.hardware.buy_ram"></span><span class="hw_btn_desc" id="hw_desc_RAM"></span></button>
                        <button id="buy_sound_card_button" name="sound_card"><span class="hw_btn_title" data-i18n="dom.hardware.buy_sound_card"></span><span class="hw_btn_desc" id="hw_desc_sound_card"></span></button>
                        <button id="buy_video_card_button" name="video_card"><span class="hw_btn_title" data-i18n="dom.hardware.buy_video_card"></span><span class="hw_btn_desc" id="hw_desc_video_card"></span></button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="hardware_right_col">
            <div class="hardware_image_box">
                <img id="hardware_shop_image" src="" alt="">
            </div>
            <div class="hardware_section hardware_info_section">
                <fieldset>
                    <legend data-i18n="dom.hardware.info_legend"></legend>
                    <div class="field-row">
                        <label data-i18n="dom.hardware.current"></label>
                        <label id="hardware_panel_current_label">-</label>
                    </div>
                </fieldset>
            </div>
            <div class="hardware_section hardware_price_section">
                <fieldset>
                    <legend data-i18n="dom.hardware.price_legend"></legend>
                    <div class="field-row hardware_price_row">
                        <label data-i18n="dom.hardware.price"></label>
                        <label id="hardware_panel_price_label" class="price">-</label>
                    </div>
                </fieldset>
            </div>
            <div class="hardware_desc_box">
                <label id="hardware_desc_label"></label>
            </div>
        </div>
    </div>
</div>
