<div id="hardware_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="buy_CPU_button">Купить процессор</button>
            <button id="buy_monitor_button">Купить монитор</button>
            <button id="buy_printer_button">Купить принтер</button>
            <button id="buy_scanner_button">Купить сканер</button>
            <button id="buy_modem_button">Купить модем</button>
            <button id="buy_HDD_button">Купить винчестер</button>
            <button id="buy_CDROM_button">Купить CD-ROM</button>
            <button id="buy_RAM_button">Купить память RAM</button>
            <button id="buy_sound_card_button">Купить звуковую карту</button>
            <button id="buy_video_card_button">Купить видеокарту</button>
        </div>
    </div>
    <div class="info_box">
        Компьютер
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="hardware_panel_price_label" class="price">-</label>
    </div>
</div>
