<div id="hobby_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="buy_groundbait_button">Купить пакет прикормки</button>
            <button id="buy_fishing_rod_button">Купить удочку</button>
            <button id="buy_fishing_tackle_button">Купить снасти</button>
            <button id="go_fishing_button">Отправиться на озеро MAD FISH</button>
        </div>
    </div>
    <div class="info_box">
        Хобби - Рыбалка
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="hobby_panel_price_label" class="price">-</label>
    </div>
    <!--
    <div class="price_box">
        <label id="hobby_panel_fishing_rod_true_label" style="display: none;">У вас есть удочка</label>
        <label id="hobby_panel_fishing_rod_false_label">У вас нет удочки</label>
    </div>
    <div class="price_box">
        <label>У вас есть снасти</label>
        <label id="hobby_panel_fishing_tackle_true_label" style="display: none;">У вас есть снасти</label>
        <label id="hobby_panel_fishing_tackle_false_label">У вас нет снастей</label>
    </div>
    -->
    <div class="price_box">
        <label>У вас</label>
        <label id="hobby_panel_groundbait_amount_label" class="price">-</label>
        <label>пакетов прикормки</label>
    </div>
    <div class="price_box">
        <label>Общее количество пойманной рыбы: </label>
        <label id="hobby_panel_fish_amount_label" class="price">-</label>
    </div>
</div>
