<div id="housing_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="buy_apartment_button" name="apartment">Купить новую квартиру и продать старую</button>
            <button id="buy_furniture_button" name="furniture">Закупка мебели</button>
            <button id="buy_kitchen_button" name="kitchen">Купить кухню</button>
            <button id="buy_bathroom_button" name="bathroom">Купить ванную</button>
        </div>
    </div>
    <div class="info_box">
        Покупайте и обустраивайте вашу квартиру
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="housing_panel_price_label" class="price">-</label>
    </div>
</div>
