<div id="housing_panel" class="switchable">
    <div class="buttons_box">
        <div>
          <button id="buy_apartment_button">Купить новую квартиру и продать старую</button>
          <button id="buy_furniture_button">Закупка мебели</button>
          <button id="buy_kitchen_button">Купить кухню</button>
          <button id="buy_bathroom_button">Купить ванную</button>
        </div>
    </div>
    <div class="info_box">
        Покупайте и обустраивайте вашу квартиру
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="housing_panel_price_label" class="price">-</label>
    </div>
</div>
