<div id="housing_panel" class="switchable panel">
    <div class="housing_main">
        <div class="housing_layout">
            <div class="housing_left_col">
                <div class="housing_section housing_shop">
                    <fieldset>
                        <legend data-i18n="dom.housing.shop_legend"></legend>
                        <div class="housing_shop_layout">
                            <div class="housing_shop_image">
                                <img id="housing_preview_image" src="/assets/images/housing/store.svg" alt="">
                            </div>
                            <div class="housing_shop_buttons">
                                <button id="buy_apartment_button" name="apartment" data-i18n="dom.housing.buy_apartment"></button>
                                <button id="buy_furniture_button" name="furniture" data-i18n="dom.housing.buy_furniture"></button>
                                <button id="buy_kitchen_button" name="kitchen" data-i18n="dom.housing.buy_kitchen"></button>
                                <button id="buy_bathroom_button" name="bathroom" data-i18n="dom.housing.buy_bathroom"></button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="housing_section housing_price">
                    <fieldset>
                        <legend data-i18n="dom.housing.price_legend"></legend>
                        <div class="field-row">
                            <label data-i18n="dom.housing.price"></label>
                            <label id="housing_panel_price_label">-</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="housing_right_col">
                <div class="housing_desc_box">
                    <label id="housing_preview_desc" data-i18n="dom.housing.default_description"></label>
                </div>
            </div>
        </div>
        <div class="housing_section housing_inventory">
            <fieldset>
                <legend data-i18n="dom.housing.inventory_legend"></legend>
                <div class="field-row">
                    <label data-i18n="dom.housing.apartment"></label>
                    <label id="housing_panel_apartment_label">-</label>
                </div>
                <div class="field-row">
                    <label data-i18n="dom.housing.furniture"></label>
                    <label id="housing_panel_furniture_label">-</label>
                </div>
                <div class="field-row">
                    <label data-i18n="dom.housing.kitchen"></label>
                    <label id="housing_panel_kitchen_label">-</label>
                </div>
                <div class="field-row">
                    <label data-i18n="dom.housing.bathroom"></label>
                    <label id="housing_panel_bathroom_label">-</label>
                </div>
            </fieldset>
        </div>
    </div>
</div>
