<div id="internet_panel" class="switchable panel">
    <div id="internet_provider_view" class="internet_view internet_scene">
        <div class="internet_intro">
            <h3 class="internet_provider_title" data-i18n="dom.internet.provider_title"></h3>
            <label id="internet_panel_info_text"></label>
        </div>
        <div class="internet_controls">
            <button id="internet_connect_button" data-i18n="dom.internet.connect_button"></button>
            <button id="internet_enter_button" disabled data-i18n="dom.internet.enter_button"></button>
        </div>
        <div id="internet_sites_dialog" class="internet_sites_dialog" style="display: none;">
            <div class="internet_sites_branch" aria-hidden="true"></div>
            <button id="internet_open_anecdotes_button" data-i18n="dom.internet.open_anecdotes_button"></button>
            <button id="internet_open_computer_button" data-i18n="dom.internet.open_computer_button"></button>
        </div>
    </div>

    <div id="internet_anecdotes_view" class="internet_view internet_anecdotes_view" style="display: none;">
        <div class="internet_anecdotes_header">
            <div class="internet_anecdotes_title" data-i18n="dom.internet.anecdotes_title"></div>
        </div>
        <div class="internet_anecdotes_body">
            <div class="internet_anecdotes_sidebar">
                <button class="internet_anecdote_button" data-kind="random" data-i18n="dom.internet.anecdotes_random"></button>
                <button class="internet_anecdote_button" data-kind="day" data-i18n="dom.internet.anecdotes_day"></button>
                <button class="internet_anecdote_button" data-kind="week" data-i18n="dom.internet.anecdotes_week"></button>
                <div class="internet_anecdotes_sidebar_box">
                    <div class="internet_anecdotes_visitors" data-i18n-html="dom.internet.visitors"></div>
                    <hr>
                    <button id="internet_anecdotes_download_button" data-i18n="dom.internet.download_anecdotes_button"></button>
                </div>
            </div>
            <div class="internet_anecdotes_content">
                <div id="internet_anecdotes_placeholder" class="internet_anecdotes_placeholder">
                    <div class="internet_smiley_face">
                        <span class="internet_smiley_eye left"></span>
                        <span class="internet_smiley_eye right"></span>
                        <span class="internet_smiley_nose"></span>
                        <span class="internet_smiley_mouth"></span>
                    </div>
                </div>
                <div id="internet_anecdotes_text" class="internet_scroll_panel" style="display: none;"></div>
            </div>
        </div>
        <div class="internet_anecdotes_footer">
            <div id="internet_anecdotes_download_progress" class="internet_download_progress" style="visibility: hidden;">
                <label id="internet_anecdotes_download_label"></label>
                <div class="internet_download_progress_container">
                    <div id="internet_anecdotes_download_bar" class="internet_download_progress_bar"></div>
                </div>
            </div>
            <div class="internet_anecdotes_footer_separator" aria-hidden="true"></div>
            <div class="internet_anecdotes_footer_right">
                <label data-i18n-html="dom.internet.anecdotes_hours"></label>
                <button class="internet_disconnect_button" data-i18n="dom.internet.disconnect_button"></button>
            </div>
        </div>
    </div>

    <div id="internet_computer_view" class="internet_view internet_computer_view" style="display: none;">
        <div class="internet_computer_sidebar">
            <div class="internet_computer_sidebar_title" data-i18n="dom.internet.computer_title"></div>
            <div class="internet_computer_sidebar_line" aria-hidden="true"></div>
            <div class="internet_computer_sidebar_hours" data-i18n-html="dom.internet.computer_hours"></div>
            <button class="internet_disconnect_button" data-i18n="dom.internet.disconnect_button"></button>
        </div>
        <div class="internet_computer_workspace">
            <h2 data-i18n="dom.internet.computer_title"></h2>
            <div id="internet_computer_text" class="internet_scroll_panel internet_computer_text"></div>
            <div class="internet_computer_shape blue top" aria-hidden="true"></div>
            <div class="internet_computer_shape magenta middle" aria-hidden="true"></div>
            <div class="internet_computer_shape yellow bottom" aria-hidden="true"></div>
        </div>
    </div>
</div>
