<div id="job_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="job_porter_button">Грузчик</button>
            <button id="job_taxi_driver_button">Таксист</button>
            <button id="job_gardener_button">Садовник</button>
            <button id="job_junior_dev_button">Начинающий программист</button>
            <button id="job_middle_dev_button">Программист</button>
            <button id="job_internet_provider_button">Провайдер</button>
            <button id="job_web_master_button">Веб-мастер</button>
            <button id="job_hacker_button">Хакер</button>
            <button id="job_graphical_designer_button">Граф. дизайнер</button>
            <button id="job_computer_president_button">Комп. президент</button>
        </div>
    </div>
    <div class="info_box">
        Работа
    </div>
    <div class="price_box">
        <label>Зарплата: </label>
        <label id="job_panel_salary_label" class="price">-</label>
    </div>
    <div class="description_box">
        <label>Описание: </label>
        <label id="job_panel_description_label" class="description">-</label>
    </div>
    <div class="requirements_box">
        <label>Требования: </label>
        <label id="job_panel_requirements_label" class="requirements">-</label>
    </div>
</div>
