<div id="shop_panel" class="switchable panel">
    <div class="buttons_box">
        <div>
            <button id="buy_breakfast_button" name="breakfast">Купить завтрак</button>
            <button id="buy_lunch_button" name="lunch">Купить обед</button>
            <button id="buy_dinner_button" name="dinner">Купить ужин</button>
            <button id="buy_clothes_button" name="clothes">Купить одежду</button>
            <button id="buy_car_button" name="car">Купить машину</button>
        </div>
    </div>
    <div class="info_box">
        Магазины
    </div>
    <div class="price_box">
        <label>Цена: </label>
        <label id="shop_panel_price_label" class="price">-</label>
    </div>
</div>
