<div id="shop_panel" class="switchable panel">
    <div class="shop_layout">
        <div class="shop_left_col">
            <div class="shop_section shop_canteen">
                <fieldset>
                    <legend data-i18n="dom.shop.canteen_legend"></legend>
                    <div class="shop_canteen_buttons">
                        <button id="buy_breakfast_button" name="breakfast" data-i18n="dom.shop.buy_breakfast"></button>
                        <button id="buy_lunch_button" name="lunch" data-i18n="dom.shop.buy_lunch"></button>
                        <button id="buy_dinner_button" name="dinner" data-i18n="dom.shop.buy_dinner"></button>
                    </div>
                    <div class="shop_canteen_info">
                        <div class="field-row">
                            <label data-i18n="dom.shop.satiety_gain"></label>
                            <label id="shop_food_satiety_label">-</label>
                        </div>
                        <div class="field-row">
                            <label data-i18n="dom.shop.current_satiety"></label>
                            <label id="shop_current_satiety_label">?</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="shop_section shop_clothes">
                <fieldset>
                    <legend data-i18n="dom.shop.clothes_legend"></legend>
                    <button id="buy_clothes_button" name="clothes" data-i18n="dom.shop.buy_clothes"></button>
                    <div class="field-row">
                        <label id="shop_clothes_desc_label"></label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="shop_right_col">
            <div class="shop_section shop_cars">
                <fieldset>
                    <legend data-i18n="dom.shop.cars_legend"></legend>
                    <div class="shop_car_image_container">
                        <img id="shop_car_image" src="/assets/images/shop/car_placeholder.png" alt="car">
                    </div>
                    <button id="buy_car_button" name="car" data-i18n="dom.shop.buy_car"></button>
                    <div class="field-row">
                        <label data-i18n="dom.shop.brand"></label>
                        <label id="shop_car_brand_label">-</label>
                    </div>
                    <div class="field-row">
                        <label data-i18n="dom.shop.current_car"></label>
                        <label id="shop_car_current_label">-</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="shop_price_section">
        <fieldset>
            <legend data-i18n="dom.shop.price_legend"></legend>
            <div class="field-row shop_price_row">
                <label data-i18n="dom.shop.purchase_price"></label>
                <label id="shop_panel_price_label" class="price">-</label>
            </div>
        </fieldset>
    </div>
</div>
