<div id="software_panel" class="switchable panel">
    <div class="software_layout">
        <div class="software_left_col">
            <div class="software_section software_os">
                <fieldset>
                    <legend>Система</legend>
                    <button id="install_norton_commander_button" name="OS" value="norton_commander">Norton Commander</button>
                    <button id="install_windows_3_11_button" name="OS" value="windows_3_11">Windows 3.11</button>
                    <button id="install_windows_95_button" name="OS" value="windows_95">Windows 95</button>
                    <button id="install_windows_98_button" name="OS" value="windows_98">Windows 98</button>
                    <button id="install_windows_2000_button" name="OS" value="windows_2000">Windows 2000</button>
                    <div class="field-row">
                        <label>Текущая:</label>
                        <label id="software_panel_OS_label">?</label>
                    </div>
                </fieldset>
            </div>
            <div class="software_section software_compiler">
                <fieldset>
                    <legend>Программирование</legend>
                    <button id="install_basic_button" name="compiler" value="basic">Basic</button>
                    <button id="install_pascal_button" name="compiler" value="pascal">Pascal</button>
                    <button id="install_visual_basic_button" name="compiler" value="visual_basic">Visual Basic</button>
                    <button id="install_visual_cpp_button" name="compiler" value="visual_cpp">Visual C++</button>
                    <div class="field-row">
                        <label>Текущий:</label>
                        <label id="software_panel_compiler_label">?</label>
                    </div>
                </fieldset>
            </div>
            <div class="software_section software_price_section">
                <fieldset>
                    <legend>Цена</legend>
                    <div class="field-row software_price_row">
                        <label>Стоимость:</label>
                        <label id="software_panel_price_label" class="price">-</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="software_middle_col">
            <div class="software_section software_graphics">
                <fieldset>
                    <legend>Графика</legend>
                    <button id="install_corel_xara_button" name="graphics" value="corel_xara">Corel Xara</button>
                    <button id="install_photoshop_button" name="graphics" value="photoshop">Photoshop</button>
                    <button id="install_3ds_max_2_button" name="graphics" value="3ds_max_2">3D Studio Max II</button>
                    <button id="install_3ds_max_3_button" name="graphics" value="3ds_max_3">3D Studio Max III</button>
                    <div class="field-row">
                        <label>Текущий:</label>
                        <label id="software_panel_graphics_label">?</label>
                    </div>
                </fieldset>
            </div>
            <div class="software_section software_internet">
                <fieldset>
                    <legend>Интернет</legend>
                    <button id="install_browser_button" name="browser" value="browser">Браузер (IE)</button>
                    <button id="install_dialer_button" name="dialer" value="dialer">Звонилка (Dialer)</button>
                    <button id="install_downloader_button" name="downloader" value="downloader">Закачка (Downloader)</button>
                </fieldset>
            </div>
            <div class="software_section software_antivirus">
                <fieldset>
                    <legend>Антивирус</legend>
                    <button id="install_kaspersky_button" name="antivirus" value="kaspersky">Ант. Касперского</button>
                    <button id="install_ivp_button" name="antivirus" value="ivp">Ант. IVP 100</button>
                    <button id="check_viruses_button" name="check_viruses">Проверить на вирусы</button>
                </fieldset>
            </div>
        </div>
        <div class="software_right_col">
            <div class="software_section software_requirements">
                <fieldset>
                    <legend>Требования</legend>
                    <div id="software_panel_requirements_list"></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
