<div id="software_panel" class="switchable">
    <div class="status_box system_software">
        <fieldset>
            <legend>Система</legend>
            <div class="buttons_box">
                <div>
                    <button id="install_norton_commander_button">NortonCommander</button>
                    <button id="install_windows_3_11_button">Windows 3.11</button>
                    <button id="install_windows_95_button">Windows 95</button>
                    <button id="install_windows_98_button">Windows 98</button>
                    <button id="install_windows_2000_button">Windows 2000</button>
                </div>
            </div>
            <div style="margin-top: 5px;">
                <label>Система:</label>
                <label id="software_panel_OS_label">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box programming_software">
        <fieldset>
            <legend>Программирование</legend>
            <div class="buttons_box">
                <div>
                    <button id="install_basic_button">Basic</button>
                    <button id="install_pascal_button">Pascal</button>
                    <button id="install_visual_basic_button">Visual Basic</button>
                    <button id="install_visual_cpp_button">Visual C++</button>
                </div>
            </div>
            <div style="margin-top: 5px;">
                <label>Язык програм-ия:</label>
                <label id="software_panel_compiler_label">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box graphics_software">
        <fieldset>
            <legend>Графика</legend>
            <div class="buttons_box">
                <div>
                    <button id="install_corel_xara_button">Corel Xara</button>
                    <button id="install_photoshop_button">Photoshop</button>
                    <button id="install_3ds_max_2_button">3D Studio Max II</button>
                    <button id="install_3ds_max_3_button">3D Studio Max III</button>
                </div>
            </div>
            <div style="margin-top: 5px;">
                <label>Граф. редактор:</label>
                <label id="software_panel_graphics_label">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box internet_software">
        <fieldset>
            <legend>Интернет</legend>
            <div class="buttons_box">
                <div>
                    <button id="install_browser_button">Браузер (IE)</button>
                    <button id="install_dialer_button">Звонилка (Dialer)</button>
                    <button id="install_downloader_button">Закачка (Downloader)</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="status_box antivirus_software">
        <fieldset>
            <legend>Антивирус</legend>
            <div class="buttons_box">
                <div>
                    <button id="install_kaspersky_button">Ант. Касперского (v.1)</button>
                    <button id="install_ivp_button">Ант. IVP 100</button>
                </div>
            </div>
        </fieldset>
        <button id="check_viruses_button">Проверить на вирусы</button>
    </div>
    <div class="price_box" style="position: absolute; top: 300px;">
        <label>Цена: </label>
        <label id="software_panel_price_label" class="price">-</label>
    </div>
</div>
