<div id="status_panel" class="switchable">
    <div class="status_box personal_status">
        <fieldset>
            <legend data-i18n="dom.status.personal_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.money"></label>
                <label id="money">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.status"></label>
                <label id="computer_course_level" class="info status">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.job"></label>
                <label id="job" class="info job">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.mood"></label>
                <label id="mood">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.satiety"></label>
                <label id="satiety">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.education"></label>
                <label id="school_level" class="info education">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.english"></label>
                <label id="english_course_level" class="info english">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box computer_status">
        <fieldset>
            <legend data-i18n="dom.status.computer_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.monitor"></label>
                <label id="monitor">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.printer"></label>
                <label id="printer" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.scanner"></label>
                <label id="scanner" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.modem"></label>
                <label id="modem" class="info">?</label>
            </div>
            <hr/>
            <div class="field-row">
                <label data-i18n="dom.status.cpu"></label>
                <label id="CPU" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.hdd"></label>
                <label id="HDD" class="info">?</label>
            </div>
            <div class="field-row">
                <label>CD-Rom:</label>
                <label id="CDROM" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.ram"></label>
                <label id="RAM" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.sound_card"></label>
                <label id="sound_card" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.video_card"></label>
                <label id="video_card" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box housing_status">
        <fieldset>
            <legend data-i18n="dom.status.housing_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.apartment"></label>
                <label id="apartment" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.furniture"></label>
                <label id="furniture" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.kitchen"></label>
                <label id="kitchen" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.bathroom"></label>
                <label id="bathroom" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.clothes"></label>
                <label id="clothes" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.car"></label>
                <label id="car" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box software_status">
        <fieldset>
            <legend data-i18n="dom.status.software_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.os"></label>
                <label id="OS" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.compiler"></label>
                <label id="compiler" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.graphics"></label>
                <label id="graphics" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.antivirus"></label>
                <label id="antivirus" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box internet_status">
        <fieldset>
            <legend data-i18n="dom.status.internet_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.internet_access"></label>
                <label id="internet_access" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.internet_anecdotes"></label>
                <label id="internet_anecdotes_status" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box job_status">
        <fieldset>
            <legend data-i18n="dom.status.work_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.salary"></label>
                <label id="salary" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box education_status">
        <fieldset>
            <legend data-i18n="dom.status.study_legend"></legend>
            <div class="field-row">
                <label data-i18n="dom.status.school"></label>
                <label id="school_status" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.english_short"></label>
                <label id="english_course_status" class="info">?</label>
            </div>
            <div class="field-row">
                <label data-i18n="dom.status.computer_courses"></label>
                <label id="computer_course_status" class="info">?</label>
            </div>
        </fieldset>
    </div>
</div>
