<div id="status_panel" class="switchable">
    <div class="status_box personal_status">
        <fieldset>
            <legend>Личный статус</legend>
            <div class="field-row">
                <label>Деньги:</label>
                <label id="money">?</label>
            </div>
            <div class="field-row">
                <label>Статус:</label>
                <label id="computer_course_level" class="info status">?</label>
            </div>
            <div class="field-row">
                <label>Работа:</label>
                <label id="job" class="info job">?</label>
            </div>
            <div class="field-row">
                <label>Настроение:</label>
                <label id="mood">?</label>
            </div>
            <div class="field-row">
                <label>Сытость:</label>
                <label id="satiety">?</label>
            </div>
            <div class="field-row">
                <label>Образование:</label>
                <label id="school_level" class="info education">?</label>
            </div>
            <div class="field-row">
                <label>Англ. яз.:</label>
                <label id="english_course_level" class="info english">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box computer_status">
        <fieldset>
            <legend>Компьютер</legend>
            <div class="field-row">
                <label>Монитор:</label>
                <label id="monitor">?</label>
            </div>
            <div class="field-row">
                <label>Принтер:</label>
                <label id="printer" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Сканер:</label>
                <label id="scanner" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Модем:</label>
                <label id="modem" class="info">?</label>
            </div>
            <hr/>
            <div class="field-row">
                <label>Процессор:</label>
                <label id="CPU" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Винчестер:</label>
                <label id="HDD" class="info">?</label>
            </div>
            <div class="field-row">
                <label>CD-Rom:</label>
                <label id="CDROM" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Память RAM:</label>
                <label id="RAM" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Звук. карта:</label>
                <label id="sound_card" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Видео карта:</label>
                <label id="video_card" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box housing_status">
        <fieldset>
            <legend>Житие мое</legend>
            <div class="field-row">
                <label>Кол. комнат:</label>
                <label id="apartment" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Мебель:</label>
                <label id="furniture" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Кухня:</label>
                <label id="kitchen" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Ванная:</label>
                <label id="bathroom" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Ваша одежда:</label>
                <label id="clothes" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Машина:</label>
                <label id="car" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box software_status">
        <fieldset>
            <legend>Программы</legend>
            <div class="field-row">
                <label>Система:</label>
                <label id="OS" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Прог-ование:</label>
                <label id="compiler" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Графика:</label>
                <label id="graphics" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Антивирус:</label>
                <label id="antivirus" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box internet_status">
        <fieldset>
            <legend>Интернет</legend>
            <div class="field-row">
                <label>Выход:</label>
                <label id="internet_access" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Анекдоты:</label>
                <label id="internet_anecdotes_status" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box job_status">
        <fieldset>
            <legend>Работа</legend>
            <div class="field-row">
                <label>Зарплата:</label>
                <label id="salary" class="info">?</label>
            </div>
        </fieldset>
    </div>
    <div class="status_box education_status">
        <fieldset>
            <legend>Учёба</legend>
            <div class="field-row">
                <label>Школа</label>
                <label id="school_status" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Англ. яз.</label>
                <label id="english_course_status" class="info">?</label>
            </div>
            <div class="field-row">
                <label>Комп. курсы</label>
                <label id="computer_course_status" class="info">?</label>
            </div>
        </fieldset>
    </div>
</div>
