<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>MeAndComp</title>
    <link rel="icon" href="assets/images/favicon_classic.png" type="image/png">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css@0.1.4/build/98.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

<div id="app" class="window" style="visibility: hidden">
    <div class="title-bar">
        <div class="title-bar-text">
            <span data-i18n="dom.index.window_title"></span>
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="menu">
        <button type="button" id="new_game_button" class="menu_button" data-i18n="dom.index.new_game_button"></button>
        <button type="button" id="about_game_button" class="menu_button" data-i18n="dom.index.about_game_button"></button>
        <!--      <span class="new_game">Help</span>-->
    </div>
    <div class="status_bar">
      <span class="date">
        <label data-i18n="dom.index.date_label"></label>
        <label id="date">21/2/21</label>
      </span>
        <span class="time">
        <label data-i18n="dom.index.time_label"></label>
        <label id="time">20:00</label>
      </span>
    </div>
    {% include "partials/status_panel.html" %}
    {% include "partials/housing_panel.html" %}
    {% include "partials/shop_panel.html" %}
    {% include "partials/entertainment_panel.html" %}
    {% include "partials/hobby_panel.html" %}
    {% include "partials/education_panel.html" %}
    {% include "partials/job_panel.html" %}
    {% include "partials/bank_panel.html" %}
    {% include "partials/hardware_panel.html" %}
    {% include "partials/software_panel.html" %}
    {% include "partials/internet_panel.html" %}
    {% include "partials/hacking_panel.html" %}
    {% include "partials/buttons_panel.html" %}
    <button id="home_button" data-i18n="dom.index.home_button"></button>
    <div id="taxi_court_dialog" class="confirm_dialog_overlay" style="display: none;">
        <div class="confirm_dialog">
            <div class="title-bar">
                <div class="title-bar-text" data-i18n="dom.index.taxi_court.title"></div>
            </div>
            <div class="confirm_dialog_body">
                <p data-i18n="dom.index.taxi_court.line_1"></p>
                <p data-i18n="dom.index.taxi_court.line_2"></p>
                <p data-i18n="dom.index.taxi_court.line_3"></p>
                <p><b data-i18n="dom.index.taxi_court.line_4"></b></p>
            </div>
            <div class="confirm_dialog_buttons">
                <button id="taxi_court_yes" data-i18n="common.yes"></button>
                <button id="taxi_court_no" data-i18n="common.no"></button>
            </div>
        </div>
    </div>
    <div id="bank_taxi_dialog" class="confirm_dialog_overlay" style="display: none;">
        <div class="confirm_dialog">
            <div class="title-bar">
                <div class="title-bar-text" data-i18n="dom.index.bank_taxi.title"></div>
            </div>
            <div class="confirm_dialog_body">
                <p data-i18n="dom.index.bank_taxi.line_1"></p>
                <p data-i18n="dom.index.bank_taxi.line_2"></p>
                <p><b data-i18n="dom.index.bank_taxi.line_3"></b></p>
            </div>
            <div class="confirm_dialog_buttons">
                <button id="bank_taxi_yes" data-i18n="common.yes"></button>
                <button id="bank_taxi_no" data-i18n="common.no"></button>
            </div>
        </div>
    </div>
    <div id="global_dialog" class="confirm_dialog_overlay" style="display: none;">
        <div class="confirm_dialog">
            <div class="title-bar">
                <div class="title-bar-text" id="global_dialog_title"></div>
            </div>
            <div class="confirm_dialog_body">
                <p id="global_dialog_text"></p>
            </div>
            <div class="confirm_dialog_buttons">
                <button id="global_dialog_ok" data-i18n="common.ok"></button>
            </div>
        </div>
    </div>
    <div id="virus_dialog" class="confirm_dialog_overlay" style="display: none;">
        <div class="confirm_dialog virus_dialog">
            <div class="title-bar">
                <div class="title-bar-text" data-i18n="dom.index.virus.title"></div>
            </div>
            <div class="confirm_dialog_body virus_dialog_body">
                <div class="virus_dialog_frame">
                    <div class="virus_dialog_icon" aria-hidden="true">
                        <span class="virus_dialog_icon_face">!</span>
                    </div>
                    <div class="virus_dialog_message_box">
                        <p class="virus_dialog_message" data-i18n="dom.index.virus.message"></p>
                    </div>
                </div>
            </div>
            <div class="confirm_dialog_buttons virus_dialog_buttons">
                <div class="virus_dialog_action">
                    <button id="virus_dialog_spare" class="virus_action_button virus_action_button_spare">
                        <span class="virus_action_button_inner">
                            <span class="virus_spare_icon" aria-hidden="true">
                                <span class="virus_spare_face">☺</span>
                            </span>
                            <span class="virus_button_label" data-i18n-html="dom.index.virus.spare_button"></span>
                        </span>
                    </button>
                </div>
                <div class="virus_dialog_action">
                    <button id="virus_dialog_kill" class="virus_action_button virus_action_button_kill">
                        <span class="virus_action_button_inner">
                            <span class="virus_kill_scene" aria-hidden="true">
                                <span class="virus_kill_bird"></span>
                                <span class="virus_kill_beak"></span>
                                <span class="virus_kill_hammer"></span>
                                <span class="virus_kill_stand"></span>
                                <span class="virus_kill_monitor"></span>
                            </span>
                            <span class="virus_button_label" data-i18n="dom.index.virus.kill_button"></span>
                        </span>
                    </button>
                    <p id="virus_dialog_requirement" class="virus_dialog_requirement" style="display: none;" data-i18n="dom.index.virus.requirement"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
<script src="js/main.js" type="module"></script>

</body>

</html>
